.about {
  width: 100%;
  color: #fff;
  text-align: center;
  transition: all 0.8s ease;
  height: auto;
  opacity: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about.visible {
  opacity: 1;
  transform: translateY(0);
}

/* --- Layout --- */
.about-contents {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.about-image {
  background: linear-gradient(
    -45deg,
    transparent,
    var(--primary-color),
    transparent
  );
  height: fit-content;
  border-radius: 20px;
  width: 300px;
}

.about-image img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transform: rotate(10deg);
  transition: transform 0.5s ease;
  margin: 0 auto;
}

.about-image img:hover {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

/* --- Cards --- */
.card-right {
  width: 500px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.about-cards {
  background: var(--color-box-bg);
  padding: 1.2rem 1.5rem;
  border-radius: 15px;
  text-align: center;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.about-cards:hover {
  background-color: var(--primary-color);
  transform: translateY(-6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card-icon {
  font-size: 1.8rem;
  color: var(--color-light);
  margin-bottom: 0.5rem;
}

.about-cards h5 {
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.about-cards p {
  color: #c5c5c5;
  font-size: 0.7rem;
}

/* --- Text and Button --- */
.about-text {
  color: #c5c5c5;
  line-height: 1.7;
  margin: 1rem auto 0 auto;
  max-width: 600px;
  text-align: left;
  letter-spacing: 0.3px;
}

.about-btn {
  background-color: var(--color-box-bg);
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: pulse 2.5s infinite;
}

.about-btn:hover {
  background-color: var(--primary-color);
  transform: translateY(-3px);
}

/* --- Animations --- */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* --- Responsive --- */
@media (max-width: 900px) {
  .about-contents {
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
  }

  .about-cards {
    width: 80%;
    margin: 0 auto;
  }

  .about-btn {
    margin: 0 auto;
  }
  .about-image {
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .about-image {
    width: 200px;
    height: 200px;
  }
  .card-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .card-right {
    width: 100%;
  }
}
