.contact_card {
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  background: var(--color-bg);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  margin-bottom: 1rem;
}
.contact {
  width: 100%;
  margin: 0 auto;
}
.contact_container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.contact_form {
  flex-basis: 70%;
  width: 100%;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
