.contact_card {
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
  background: var(--color-bg);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  transition: var(--transition);
  width: 100%;
  margin-bottom: 1rem;
}
.contact {
  width: 100%;
  margin: 0 auto;
}
.contact_container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
}

.contact_form {
  flex-basis: 70%;
  width: 100%;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.submit_btn {
  margin-top: 10px;
}
.submit_btn button {
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  .contact_container {
    flex-direction: column;
  }
  /*   .contact_info {
    display: flex;
    justify-content: center;
    gap: 1rem;
  } */
}
@media screen and (max-width: 500px) {
  .contact_container {
    gap: 2rem;
  }
}
