.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 2rem auto 0;
  background: var(--color-bg);
  padding: 2rem;
}
.footer_list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0 2rem;
}
.footer_social .socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  .footer_list {
    gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .footer_list {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    flex-wrap: wrap;
    gap: 0.7rem;
  }
}
