.testimonials_container {
  width: 100%;
  margin: 0 auto;
}

.testimonial_card {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  background: var(--color-bg);
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
}
.testimonial_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  margin-bottom: 1rem;
}
.testimonial_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: auto;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
.testimonial_dot {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: grey;
  transition: 0.5s ease;
}
.dot.active {
  background: var(--primary-color);
  transform: scale(1.2);
}
