.testimonial_card {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  background: var(--color-bg);
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
}

.testimonial_dot {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: grey;
  transition: 0.5s ease;
}
.dot.active {
  background: var(--primary-color);
  transform: scale(1.2);
}
