@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /*   outline: solid 1px red; */
}

:root {
  --color-bg: rgb(9, 44, 9);
  --primary-color: green;
  --color-white: #fff;
  --color-box-bg: rgb(5, 97, 5);
  --color-light: rgb(255, 255, 255, 0.6);
  --color-black: #000;
  --transitions: all 400ms ease;
  /* Width*/
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

/* html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem;
}

footer {
  background: #0d1026;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
} */

html {
  background: #000;
  font-size: 1.2rem;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
  display: none;
}

body {
  background: #161515;
  color: var(--color-white);
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.main-content {
  padding: 2rem 3rem 0;
}
/* ===== GENERAL STYLING ===== */
.container {
  width: var(--container-width-lg);
}

main {
  margin-top: 6rem;
}
main h2,
main h5 {
  color: var(--color-light);
  text-align: center;
}

main h2 {
  color: var(--primary-color);
  margin-bottom: 3rem;
}
a {
  color: var(--primary-color);
  transition: var(--transitions);
}

a:hover {
  color: var(--color-white);
}

.btn {
  color: var(--primary-color);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: var(--transitions);
  border-radius: 0.5rem;
  outline: none;
  animation: pulse 2.5s infinite;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
}

.btn-primary {
  background: var(--primary-color);
  color: var(--color-black);
}
.btn-primary:hover {
  background: var(--color-white);
  color: var(--primary-color);
  border: 0.7px solid var(--primary-color);
}
.btn-transparent {
  background: transparent;
  margin-right: 10px;
  color: var(--color-black);
  border: 0.7px solid var(--primary-color);
}
.btn-transparent:hover {
  background: var(--primary-color);
  color: var(--color-black);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
input,
textarea {
  outline: none;
  background: transparent;
  border-radius: 5px;
  border: 0.5px solid var(--color-white);
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  main {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: var(--container-width-sm);
  }
  main > h2 {
    margin-bottom: 2rem;
  }
  .main-content {
    padding: 2rem 1.5rem 0;
  }
}
